.header-anchor {
    float: left;
    margin-left: -0.87em;
    padding-right: 0.23em;
    font-weight: 500;
    user-select: none;
    opacity: 0;
    transition: color 0.25s, opacity 0.25s;
}

:root {
    /* --vp-nav-bg-color: rgb(245, 245, 245);
    --vp-c-bg: rgb(245, 245, 245); */
    --vp-home-hero-name-color: #1ca7ec;
    --vp-button-brand-bg: #7bd5f5;
    --vp-button-brand-border: #97ddf6;
    --vp-button-brand-hover-bg: #1c61ec;
    --vp-button-brand-hover-border: #1c61ec;
    --vp-button-brand-active-bg: #1c61ec;

    --vp-c-brand: #1ca7ec;
    --vp-c-brand-dark: #1863bf;
    --vp-code-line-number-color: #babbbc;
}

.highlight-blue {
    background: rgba(3, 169, 244, 0.3);
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(3, 169, 244);
}

.modal-root {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.modal-root .modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-root .modal-img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-root .modal-img-container img {
    width: 100%;
    height: 100%;
}

#footer .img {
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#footer .img.active {
    border: 2px solid #ed3636;
}
